
<style>

.card-img-top
{
   height:250px;
   width:300px;
}
footer{
    background: black;
    padding: 15px;
    margin-right: 3px;
    margin-left: 3px;

}
body{
  background:grey;
}
a:hover{
  color:white;
}


nav li{
    display: inline-block;
    margin-right: 15px;
    padding: 3px;

}
nav {
    background-color: black;
    padding: 5px;
    margin-left: 3px;
    margin-right:3px;
}
footer p{
    text-align: center;
    color: #fff;
   
    display: auto;
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">



<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SERIES</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CATEGORY
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">lomance </a>
        <div class="dropdown-divider">spy</div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ABOUT US</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0" style="position:relative;left:600px;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Search</button>
  </form>
</div>
</nav>
<center> <h1> JORAH MOVIES  </h1> </center>


<center><h1>Movies </h1></center>
<div class="container">   
<% if !flash[:notice].blank? %>   
   <div>   
      <%= flash[:notice] %>   
   </div>   
<% end %>   
  
<br>   
  
<center><b><u><h4><%= link_to "NEW ONE", new_resume_path %></h4></u></b></center>  
<br>   
<br>   

<div class="album py-5 bg-light">
        <div class="container">
        <div class="row">
 <% @resumes.each do |resume| %> 
          
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="<%= resume.attachment %>" class="card-img-top"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><b>Title:</b><%= resume.title %><br><b>category:</b><%= resume.category %><br><b>Year:</b><%= resume.year %><br><b>price:</b><%= resume.price %></p>
                  <b><u><%= button_to "Download", resume.attachment_url %></b></u>
                  <b><u><%= button_to "Delete",  resume, method: :delete, confirm: "Are you sure you want to delete #{resume.attachment}?" %>
                  </b></u>
                  </div>
                </div>
              </div>
              <% end %> 
            </div>
            <br>
            <br>
            <footer>
          
  <p>&copy; INFORMATION TECHNOLOGY - 2019 developed by moise!<br>
  It owned by JORAH INTERTAINMENT CAMPANY 
  </p>
  
    </footer>
  